@{
    ViewData["Title"] = "About Me";
}
<h1>About Me — Dalton Towe</h1>
<p>Hi! I’m Dalton. I love building software and playing video games. I enjoy being in the world and experiencing the stories they create.
    I love a good story that can make you feel for characters and immerse you in a world. I also enjoy the challenge of games that require skill and strategy, and the creativity of games that allow you to build and customize your own experience.
</p>
<ul class="list-group mb-3">
    <li class="list-group-item"><strong>Platforms:</strong> PC, PS5, Switch, Xbox</li>
    <li class="list-group-item"><strong>Favorite genres:</strong> RTS, RPG, Co-op, Story-Rich, Survival</li>
    <li class="list-group-item"><strong>Interests:</strong> performance tuning, modding, game analytics</li>
</ul>
