@{
    ViewData["Title"] = "Top 10 Favorite Games";
}
<h1>Top 10 Favorite Games — Dalton Towe</h1>

<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Halo: Reach <span class="badge bg-primary rounded-pill">FPS</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Halo 3 <span class="badge bg-primary rounded-pill">FPS</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Gears of War 2 <span class="badge bg-primary rounded-pill">TPS</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Borderlands 2 <span class="badge bg-primary rounded-pill">Looter Shooter</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Call of Duty: Black Ops II <span class="badge bg-primary rounded-pill">FPS</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        The Witcher 3: Wild Hunt <span class="badge bg-primary rounded-pill">RPG</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Baldur’s Gate 3 <span class="badge bg-primary rounded-pill">CRPG</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Elden Ring <span class="badge bg-primary rounded-pill">Action RPG</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        RimWorld <span class="badge bg-primary rounded-pill">Colony Sim</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Psychonauts <span class="badge bg-primary rounded-pill">Platformer</span>
    </li>
</ol>